<div class="page-header">
	<h2>Create League of Legends team</h2>
</div>
<% if @team.errors.any? %>
<div id="error_explanation" class="text-danger">
	<h5><%= pluralize(@team.errors.count, "error") %> canceled your registration:</h5>
	<ul>
		<% @team.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>
<%= form_for @team, url: {action: "create"} , html: {class: "form-horizontal"} do |f| %>
<% if !@user.summoners.first %>
<div class="form-group">
	<div class="alert alert-info">		
		The "you" dropdownlist is empty, please link first a League Of Legends account
		<%= link_to "here", new_app_user_summoner_path(@user.id)%>.
	</div>
</div>
<% end %>
<div class="form-group">
	<%= label_tag 'sumName0', "Your summoner :" , class: "col-sm-3 control-label" %>
	<div class="col-sm-9">
		<%= select_tag "you", options_from_collection_for_select(@user.summoners, "id", "name"), class: "form-control" %>
	</div>
</div>
<% ((@type.first.number_players)-1).times do |i| %>
<div class="form-group">
	<%= label_tag 'sumName2', "Your mate's name :", class: "col-sm-3 control-label" %>
	<div class="col-sm-9">
		<%= text_field_tag :sumName2, nil,  class: "form-control"%>
	</div>
</div>
<% end %>
<div class="form-group">
	<div class="col-sm-offset-3 col-sm-9">
		<%= f.submit "Create", :class => 'btn btn-info' %> 
	</div>
</div>
<% end %>