<div class="row">
	<div class="col-md-6 col-md-offset-3 whiteContent">
		<div class="page-header">
			<h2>League of Legends teams</h2>
		</div>
		<% if !@user.summoners.first %>
		<div class="alert alert-info">		
			Before creating a team, you need to register a League Of Legends account
			<%= link_to "here", new_app_user_summoner_path(@user.id)%>.
		</div>
		<% end %>
		<h4>Team 5v5</h4>
		<table class="table table-condensed">
			<tr>
				<th>Name</th>
				<th>Tag</th>
				<th>Rank</th>
				<th>Type</th>
				<th>Action</th>
			</tr>
			<% @teams5v5.each do |team| %>
			<tr>
				<td><%= team.name.capitalize %></td>
				<td>[<%= team.tag %>]</td>
				<% if team.league_tier!=nil %>
				<td><%= team.league_tier.name %></td>
				<% elsif team.league_division!=nil %>
				<td><%= team.league_tier.name.capitalize %> <%= team.league_division.name %></td>
				<% else %>
				<td>Unranked</td>
				<% end %>
				<td><%= team.team_type.name.capitalize %></td>
				<td>
					<%= link_to 'Show', app_user_team_path(@user.id, team.id), :class => 'btn btn-info btn-xs' %>
				</td>
			</tr>
			<% end %>
		</table>
		<% if @user.summoners.first %>
		<%= link_to "Refresh team 5v5 (could be long... rito plz...)", app_user_refresh_teams_path(@user.id), :class => 'btn btn-info btn-xs', :onclick => '$(this).addClass("disabled"); $(this).text("refreshing...")'%>
		<% else %>
		<a class="btn btn-info btn-xs disabled" href="#">Refresh team 5v5 (could be long... rito plz...)</a>
		<% end %>
		<h4>Team duo</h4>
		<table class="table table-condensed">
			<tr>
				<th>Team</th>
				<th>type</th>
				<th>Action</th>
			</tr>
			<% @teamsDuo.each do |team| %>
			<tr>
				<td>
					<%= team.summoners.first.name %> & <%= team.summoners.last.name %>
				</td>
				<td><%= team.team_type.name.capitalize %></td>
				<td>
					<%= link_to 'Show', app_user_team_path(@user.id, team.id), :class => 'btn btn-info btn-xs' %>
					<%= link_to 'Unlink', app_user_team_path(@user, team.id), method: :delete, :class => 'btn btn-danger btn-xs' %>
				</td>
			</tr>
			<% end %>
		</table>
		<% if @user.summoners.first %>
		<%= link_to "Create a new duo team", new_app_user_team_path(@user.id), :class => 'btn btn-info btn-xs'  %>
		<%else%>
		<%= link_to "Create a new duo team", new_app_user_team_path(@user.id), :class => 'btn btn-info btn-xs disabled'  %>
		<%end%>
	</div>
</div>