<div class="row">
	<div class="col-md-10 col-md-offset-1 whiteContent">
		<div class="page-header">
			<div class="row">
				<div class="col-md-6">
					<div class="center-block" style="width:300px; text-align:center;">
						<h2><%= @team.name %></h2>
						<% if(@team.league_tier && @team.league_division) %>
						<%= render 'show_team5v5_ranked' %>
						<% elsif(@team.team_type.key == "RANKED_TEAM_5x5") %>
						<%= render 'show_team5v5_unranked' %>
						<% elsif(@team.team_type.key == "RANKED_SOLO_5x5") %>
						<%= render 'show_team_solo' %>
						<% end %>
						<h6><%= @team.team_type.name.capitalize %></h6>
					</div>
				</div>
				<div class="col-md-6">
					<%= render 'show_team_composition' %>
				</div>
			</div>			
		</div>
		<div class="row">
			<div class="col-md-12">
				<% if(is_proprietary) %>
				<button type="button" class="btn btn-info btn-sm" onclick="refresh_team('<%= url_for app_user_team_refresh_team_matches_path(@user.id, @team.id) %>', $(this));">
					Refresh  <span class="glyphicon glyphicon-refresh" aria-hidden="true"></span> (could be long... rito plz...) 
				</button>
				<% end %>
				<button class="btn btn-info btn-sm visible-md visible-lg" type="button" data-toggle="collapse" data-target="#collapseMatches" aria-expanded="false" aria-controls="collapseMatches" data-pressed="false" onclick="show_matches($(this))">Show match history
					<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
				</button>
				<button class="btn btn-info btn-sm visible-xs visible-sm" type="button" data-toggle="collapse" data-target="#collapse_matches_mobile" aria-expanded="false" aria-controls="collapse_matches_mobile" data-pressed="false" onclick="show_matches($(this))">Show match history
					<span class="glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
				</button>
			</div>
		</div>
		<p>
			<%= render 'show_team_matches_desktop' %>
			<%= render 'show_team_matches_mobile' %>
		</p>
	</div>
</div>