<div class="row">
	<div class="col-md-6 col-md-offset-3 whiteContent">
		<div class="page-header">
			<h2><%= @team.name %></h2>
			<h6><%= @team.team_tier %><%= @team.team_division %></h6>
			<h6><%= @team.team_type.name %></h6>
		</div>
		<h4>
			Team composition:
		</h4>
		<table class="table table-condensed">
			<tr>
				<th>Summoner's name</th>
				<th>Summoner's id</th>
				<th>Status</th>
			</tr>
			<% @team.summoners.each do |summoner| %>
			<tr>
				<td><%= summoner.name %></td>
				<td><%= summoner.id %></td>
				<td>
					
				</td>
			</tr>
			<% end %>
		</table>
	</div>
</div>