<h2>Login</h2>
<div id="error_explanation" class="text-danger">
	<% flash.each do |key, value| %>
	<%= content_tag :div, value, class: "flash #{key}" %>
	<% end %>
</div>
<%= form_for(:session, url: login_path,:html => {:class => 'form-horizontal'}) do |f| %>
<div class="form-group">
	<%= label_tag 'email', "Email" %>
	<%= f.email_field :email, class: 'form-control' %>
</div>
<div class="form-group">
	<%= label_tag 'password', "Password" %>
	<%= f.password_field :password, class: 'form-control'   %>
</div>
<div class="form-group">
	<%= link_to '(forgot password)', new_reset_password_path %>
</div>
<div class="form-group">
	<%= link_to 'Register', new_app_user_path, :class => 'btn btn-info' %>
	<%= f.submit "Log in", class: "btn btn-info" %>
</div>
<% end %>