<script src="http://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript">

var leagueAndDivision = <%=raw leagueAndDivision%>

$(function () { 
	$('#chart_container').highcharts({
		chart: {
			type: 'line', 
			backgroundColor:'transparent'
		},
		title: {
			text: "<%= summoner.name%>'s rank"
		},
		xAxis: {
			categories: [<%=raw matches_date_string%>],
			labels:{
				y: 30
			}
		},
		yAxis: {
			tickInterval: 1,
			allowDecimals: false,
			title: false,
			labels: {
				formatter: function() {
					if(this.value==-1){
						return "Unranked";
					}else{
						return leagueAndDivision[this.value];
					}
				}
			}
		},
		series: [{
			name: '<%= summoner.name%>',
			data: [<%=raw matches_rank%>]
		}],
		tooltip: {
			formatter: function() {
				if(this.y==-1){
					return "Unranked";
				}else{
					return leagueAndDivision[this.y];
				}
			}
		}
	});
});
</script>
<div id="chart_container" style="width:100%;">

</div>