<%
matches = summoner.get_all_games_ordered_by_date
matches_date_string = ""
matches_rank = ""
matches.each do |match|
	if match[1]==nil
		rank = -1
	else
		#rank = match[1].id.to_s+""+match[2].id.to_s
		rank = (match[1].id-1)*5+5-match[2].id
	end

	if matches_date_string!=""
		matches_date_string = matches_date_string+", '"+match[0].match_date.strftime("%d %h %Y").to_s+"'"
		matches_rank+=","+rank.to_s
	else
		matches_date_string = "'"+match[0].match_date.strftime("%d %h %Y").to_s+"'"
		matches_rank=rank.to_s
	end
end

leagueAndDivision = Array.new()
LeagueTier.all.each do |tier|
	if tier.name != "master" && tier.name != "challenger"
		LeagueDivision.all.reverse.each do |division|
			leagueAndDivision<<tier.name.capitalize+" "+division.name
		end
	end
end
leagueAndDivision<<"Master"
leagueAndDivision<<"Challenger"




%>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript">

var leagueAndDivision = <%=raw leagueAndDivision%>

$(function () { 
	$('#chart_container').highcharts({
		chart: {
			type: 'line', 
			backgroundColor:'transparent'
		},
		title: {
			text: "<%= summoner.name%>'s rank"
		},
		xAxis: {
			categories: [<%=raw matches_date_string%>]
		},
		yAxis: {
			title: false,
			labels: {
				formatter: function() {
					if(this.value==-1){
						return "Unranked";
					}else{
						return leagueAndDivision[this.value];
					}
				}
			},
			breaks: [{
				from: 0,
				to: 10,
			}]
		},
		series: [{
			name: '<%= summoner.name%>',
			data: [<%=raw matches_rank%>]
		}],
		tooltip: {
			formatter: function() {
				if(this.y==-1){
					return "Unranked";
				}else{
					return leagueAndDivision[this.y];
				}
			}
		}
	});
});
</script>
<div id="chart_container" style="width:100%;">

</div>