<div class="row">
	<div class="col-md-10 col-md-offset-1 whiteContent">
		<div class="page-header">
			<h2>Linked League of Legends account</h2>
		</div>
		<table class="table table-condensed">
			<tr>
				<th>Summoner's name</th>
				<th>Summoner's id</th>
				<th>Action</th>
			</tr>
			<% @summoners.each do |summoner| %>
			<tr>
				<td><%= summoner.name %></td>
				<td><%= summoner.id %></td>
				<td>
					<button class="btn btn-info btn-xs" onclick="document.location='<%= url_for controller: 'summoners', action: 'show', app_user_id: @user, id: summoner.id %>';">Show
					</button>
					<% if @user %>
					<button class="btn btn-danger btn-xs" onclick="ask_confirmation($(this), '<%= url_for controller: 'summoners', action: 'destroy', app_user_id: @user, id: summoner.id %>', 'DELETE')">Unlink
					</button>
					<% end %>
				</td>
			</tr>
			<% end %>
		</table>
		<%= link_to "Link an account", new_app_user_summoner_path(@user.id), :class => 'btn btn-info'  %>
	</div>
</div>