<!DOCTYPE html>
<html>
<head>
	<title>DuoQ</title>
	<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Open+Sans:300' %>
	<%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway' %>
	<%= stylesheet_link_tag 'application', 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css' %>
	<%= analytics_init if Rails.env.production? %>
	<%= javascript_include_tag 'application' %>
	<%= csrf_meta_tags %>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
	<%= render 'menu' %>
	<div class="global_wrapper">
		<%= yield %>
	</div>
	<%= render 'footer' %>
</body>
</html>